/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    background: white;
    background-image: url('bg.png');
}

hr {
    position: relative;
    z-index: 1000;
    width: 50px;
    border: none;
    height: 7px;
    background: rgb(0, 4, 255);
}


/*GENERAL*/

.blue {
    color: #0004ff;
}

h1,
h2,
h3,
.btn,
a {
    font-family: 'Poiret One', sans-serif;
}

p,
ul,
li
a {
    font-family: 'Raleway', sans-serif;
}

h1 {
    letter-spacing: -2px;
    line-height: .95;
    font-size: 4.5em;
}

h2 {
    letter-spacing: -1px;
    line-height: .95;
    font-size: 3.8em
}

h3 {
    letter-spacing: -1px;
    line-height: .95;
    font-size: 3.3em
}

p,
a,
li {
    letter-spacing: -.5px;
    line-height: 1.25;
    font-size: 1.3em;
    font-weight: lighter;
}

a {
    cursor: pointer;
}

.fa {
    color: #0004ff !important;
    padding: 5px;
    font-size: 1.5em;
}
.caption{
  position: relative;
  z-index: 1000;
}
.btn {
    position: relative;
    cursor: pointer;
    transition: all .2s;
    z-index: 1000;
    background: rgb(0, 4, 255);
    display: inline-block;
    font-size: 1.1em;
    margin: 10px 9px 0 0;
    color: white !important;
    padding: 10px 12px;
    -webkit-text-stroke: 1px white;
    box-shadow: 0px 0px 11px -3px white;
    text-decoration: none !important;
}

.btn:hover,
.btn:focus {
    -webkit-text-stroke: 1px rgb(0, 4, 255);
    color: rgb(0, 4, 255) !important;
    background: white;
}


/*NAV*/

/*.nav {
  opacity: .8;
    position: absolute;
    z-index: 1111;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: white;
    box-shadow: 3px 3px 22px -2px rgba(0, 0, 0, 0.75);
    transition: all .4s;
}*/
.nav{
  display: none;
}

.nav a {
    position: relative;
    display: inline-block;
    padding: 20px;
    font-size: 1.6em;
    color: black !important;
    text-decoration: none !important;
}

.nav.hidden {
    transform: translateY(-80px);
}

.active {
    pointer-events: none;
}

.nav a:hover:after,
.nav a:focus:after,
.active:after {
    content: " ";
    width: 100%;
    height: 6px;
    display: inline-block;
    position: absolute;
    bottom: 5px;
    left: 0;
    background: #0004ff;
    animation: width .2s;
}

.logo img {
    width: 60px;
    display: block;
    margin: auto;
    padding: 10px;
    z-index: 1000;
}

.logo:after {
    content: none !important;
}

.git{
  position: absolute;
  bottom: 12px;
  right: 13px;
  width: 100%;
  text-align: center;
}
.git a{
  font-size: .8em;
  display: inline-block;
  width: 100%;
  padding: 10px 10px 0 0;
  text-decoration: none;
  color: #0004ff;
}
/*PAGES*/

.Home,
.Contact,
.Work {
    overflow: hidden;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
}

.wrap {
    transform: scale(1);
    box-sizing: border-box;
    position: relative;
    background-color: rgba(255, 255, 255, .20);
    width: 380px;
    max-width: 90%;
    padding: 80px 40px;
    animation: shadow 2s .2s forwards, float 15s 2.8s infinite linear;
}


.white-fill {
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(255, 255, 255);
    height: 100%;
    width: 100%;
}

.wrap::before {
    content: " ";
    background-image: url('hex.png');
    width: 450px;
    height: 450px;
    display: block;
    position: absolute;
    z-index: -1;
    opacity: 0;
    top: -90px;
    animation: fade 2s .1s forwards;
    right: -150px;
    transform: scale(.8);
}

.wrap::after {
    z-index: -1;
    content: " ";
    background-image: url('hex.png');
    width: 280px;
    opacity: 0;
    height: 280px;
    animation: fade 2s forwards;
    display: inline-block;
    position: absolute;
    bottom: -100px;
    left: -100px;
    transform: scale(.8);
}


/*MODAL*/

.modal {
    box-sizing: border-box;
    border: 20px solid white;
    position: fixed;
    top: 0;
    left: 0;
    max-width: 100%;
    width: 100%;
    max-width: 100%;
    overflow-y: scroll;
    height: 100vh;
    min-height: 100vh;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal.initial {
    display: none;
}

@keyframes shown {
    from {
        opacity: 0;
        bottom: -80px
    }
    to {
        bottom: 0;
        opacity: 1;
    }
}


.close {
    font-size: 2em;
    position: fixed;
    bottom: 0;
    right: 0;
    opacity: 0;
    text-align: center;
    display: inline-block;
    z-index: 1000;
    line-height: 0;
    padding: 30px 10px;
}

.close.shown {
    animation: shown .3s .8s forwards;
}

.modal h1 {
    margin-top: 15px;
    margin-left: 1%;
    max-width: 1800px;
}
.modal hr{
  margin-bottom: 20px;
  margin-left: 1% !important;
}
@media (min-width: 1800px) {
  .modal h1{
    margin: 15px auto 0;
  }
  .modal hr{
    margin-left:  auto !important;
    margin-right:  auto !important;
  }
}


.modal p,
.modal .btn {
    font-size: 2em;
}

.left-div,
.right-div {
    width: 48%;
}

.portimg {
    width: 100%;
    box-sizing: border-box;
    border: 12px solid #0004ff;
}

.flexed {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
}

@media (max-width: 1000px) {
    .modal p,
    .modal .btn {
        font-size: 1.5em;
    }
}

@media (max-width: 900px) {
    .modal h3 {
        font-size: 3em;
    }
    .modal p,
    .modal .btn {
        font-size: 1.3em;
    }
}

@media (max-width: 790px) {
    .modal {
        padding-bottom: 30px;
        border: none;
    }
    .portimg {
        margin: 10px 0;
        border: 0;
    }
    .flexed {
        display: block;
    }
    .left-div, .right-div {
        width: 100%;
    }
    .modal h1 {
        margin: 20px 5px;
    }
    .modal hr {
        margin-left: 5px !important;
    }
    .modal h3 {
        margin: 0 5px;
        font-size: 3em;
    }
    .modal p,
    .modal .btn {
        margin: 0 5px;
        font-size: 1.3em;
    }
}

@keyframes modal-show {
    from {
        opacity: 0;
        box-shadow: 2px -1px 20px 1px rgba(0, 0, 0, 0.75);
        transform: translateY(100vh);
    }
}

.modal.shown {
    opacity: 1;
    box-shadow: 2px -1px 20px 1px rgba(0, 0, 0, 0.75);
    animation: modal-show .5s;
}

@keyframes modal-hide {
    from {
        opacity: 1;
        box-shadow: none;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(100vh);
        pointer-events: none;
    }
}

.modal.hidden {
    animation: modal-hide .9s forwards;
}


/*RECTANGLES*/

.top,
.bottom {
    position: absolute;
    height: 10px;
    background: #0004ff;
}

.left,
.right {
    position: absolute;
    width: 10px;
    height: 100%;
    background: #0004ff;
}

.left {
    display: none;
}

.top-left,
.bottom-left {
    position: absolute;
    width: 10px;
    background: #0004ff;
}

.top-left {
    height: 0;
    top: 8px;
    left: 0;
    animation: height-tl .5s forwards;
}

.bottom-left {
    bottom: 8px;
    left: 0;
    animation: height-bl .5s forwards;
}

.left {
    height: 0;
    bottom: 8px;
    left: 0;
    animation: height .5s forwards;
}

.right {
    height: 0;
    top: 8px;
    right: 0;
    animation: height .5s forwards;
}

.top {
    width: 0;
    top: 0;
    left: 0;
    animation: width .5s forwards;
}

.bottom {
    width: 0;
    bottom: 0;
    right: 0;
    animation: width .5s forwards;
}

.wrap p,
.wrap h1,
.wrap h2,
.wrap .btn,
.wrap hr {
    opacity: 0;
    animation: fade 2s forwards;
}

.wrap h1,
.wrap h2 {
    opacity: 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.71);
    white-space: nowrap;
    position: relative;
    z-index: 1000;
    margin-left: -170px;
}

.wrap ul {
    position: relative;
    z-index: 1000;
}

.wrap h1 {
    padding-top: 20px;
}

.wrap h2 {
    padding-bottom: 20px;
}

.wrap p {
    padding-top: 20px;
}


/*REVERSE ANIMATIONS*/

.reverse.wrap {
    animation: reverse-shadow 1s forwards;
}

.bottom.reverse,
.top.reverse {
    animation: reverse-width .5s forwards;
}

.left.reverse, .right.reverse {
    animation: reverse-height .5s forwards;
}

.top-left.reverse {
    animation: reverse-height-tl .5s forwards;
}

.bottom-left.reverse {
    animation: reverse-height-bl .5s forwards;
}

h1.reverse,
h2.reverse,
p.reverse,
hr.reverse,
.btn.reverse,
.reverse.wrap:after,
.reverse.wrap:before {
    animation: fade-out .5s forwards;
}

.Work p {
    margin-bottom: 10px;
}

.Work p a {
    display: inline-block;
    width: 100%;
    color: #0004ff !important;
    text-decoration: underline;
}

.from.pro a {
    animation: from-left .3s forwards !important;
}

.from.pers a {
    animation: from-right .3s forwards !important;
}

.from.reverse {
    animation: fade-out .3s forwards !important;
}


/*ANIMATIONS AND QUERIES*/

@media (max-width: 700px) {
    .wrap h1,
    .wrap h2 {
        width: calc(100% + 120px);
        margin-left: 0;
        text-align: left;
    }
    hr {
        margin-left: 0;
        height: 5px;
    }
    .wrap h2::after {
        display: block;
        left: 0;
        margin: 0 auto;
        position: relative;
    }
    .onSmall {
        display: block;
    }
    h1 {
        font-size: 3em;
    }
    h2 {
        line-height: .95;
        font-size: 2.5em
    }
    .modal h3 {
        font-size: 2em;
    }
    p {
        font-size: 1.3em;
        font-weight: lighter;
    }
    .top-left,
    .bottom-left {
        display: none;
    }
    .left {
        display: block;
    }
}

@keyframes shadow {
    0% {
        transform: scale(1);
        box-shadow: none;
    }
    100% {
        transform: scale(1.2);
        box-shadow: 10px 15px 18px rgba(0, 0, 0, 0.42);
    }
}

@keyframes float {
    0% {
        transform: translate(0, 0) scale(1.2);
    }
    20% {
        transform: translate(-8px, -8px) scale(1.2);
    }
    40% {
        transform: translate(-8px, 8px) scale(1.2);
    }
    60% {
        transform: translate(8px, 8px) scale(1.2);
    }
    80% {
        transform: translate(8px, -8px) scale(1.2);
    }
    100% {
        transform: translate(0, 0) scale(1.2);
    }
}

@media (max-width: 750px), (max-height: 790px) {
    .modal.shown {
        display: block;
    }
    @keyframes shadow {
        0% {
            transform: scale(.95);
            box-shadow: none;
        }
        100% {
            transform: scale(1);
            box-shadow: 10px 15px 18px rgba(0, 0, 0, 0.42);
        }
    }
    @keyframes float {
        0% {
            transform: translate(0, 0) scale(1);
        }
        20% {
            transform: translate(-15px, -15px) scale(1);
        }
        40% {
            transform: translate(-15px, 15px) scale(1);
        }
        60% {
            transform: translate(15px, 15px) scale(1);
        }
        80% {
            transform: translate(15px, -15px) scale(1);
        }
        100% {
            transform: translate(0, 0) scale(1);
        }
    }
    .wrap {
        margin-top: 20px;
        transform: scale(.95);
    }
}

@keyframes height {
    from {
        height: 0;
    }
    to {
        height: calc(100% - 10px);
    }
}

@keyframes width {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes height-tl {
    from {
        height: 0;
    }
    to {
        height: 70px;
    }
}

@keyframes height-bl {
    from {
        height: 0;
    }
    to {
        height: calc(100% - 295px);
    }
}

@media (max-width: 450px), (max-height: 600px) {
    .wrap {
        animation: shadow 2s .2s forwards;
    }
    .nav {
        display: none;
    }
    .Home,
    .Contact,
    .Work {
       padding-top: 20px;
        overflow: hidden;
        height: 100vh;
        width: 100%;
        overflow-y: scroll;
    }
}

@media (max-width: 332px) {
    .wrap {
        margin-top: 30px;
        max-width: 95%;
        width: 95%;
        padding: 30px 40px 50px;
    }
    h1 {
        font-size: 2.6em
    }
    h2 {
        font-size: 2em;
    }
}

@keyframes from-right {
    from {
        opacity: 0;
        transform: translate(100px);
    }
    to {
        opacity: 1;
    }
}

@keyframes from-left {
    from {
        opacity: 0;
        transform: translate(-20px);
    }
    to {
        opacity: 1;
    }
}

@keyframes reverse-shadow {
    0% {
        transform: scale(1.2);
        box-shadow: 10px 15px 24px -7px rgba(0, 0, 0, 0.75);
    }
    10% {
        box-shadow: none;
    }
    100% {
        box-shadow: none;
        transform: scale(1);
    }
}

@media (max-width: 750px), (max-height: 790px) {
    @keyframes reverse-shadow {
        0% {
            transform: scale(1);
            box-shadow: 10px 15px 24px -7px rgba(0, 0, 0, 0.75);
        }
        10% {
            box-shadow: none;
        }
        100% {
            box-shadow: none;
            transform: scale(.9);
        }
    }
}

@keyframes reverse-width {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}

@keyframes reverse-height {
    from {
        height: 100%;
    }
    to {
        height: 0;
    }
}

@keyframes reverse-height-tl {
    from {
        height: 60px;
    }
    to {
        height: 0;
    }
}

@keyframes reverse-height-bl {
    from {
        height: calc(100% - 295px);
    }
    to {
        height: 0;
    }
}

@keyframes fade-out {
    from {
        opacity: 1
    }
    to {
        opacity: 0;
    }
}
